/* Fonts*/

@font-face {
  font-family: "raleway-800";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik-400";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik-700";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Variebles*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-gray-dark: #DCDCDC;
  --basic-gray: #EBEBEB;
  --basic-gray-light: #F0F0F0;
  --basic-yellow-light: #FFE17F;
  --basic-yellow-dark: #FFC700;
  --basic-error: #FF3D3D;
  --basic-warning: #FD912E;
  --basic-success: #08AF00;
  --basic-focus: #AF4FFF;
}

/*Global*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  font-family: "rubik-400", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

/*ПОВТОРЯЮЩИЕСЯ ЭЛЕМЕНТЫ НА ВСЕХ СТРАНИЦАХ*/

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.button {
  display: block;
  font-family: "raleway-800", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

/*ШРИФТЫ*/

.main-title {
  font-family: "raleway-800", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.title {
  font-family: "raleway-800", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.rubik-title {
  font-family: "rubik-700", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.slide-number {
  font-family: "rubik-700", "Arial", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}

.cards-list {
  font-size: 18px;
}

.cards-list .rubik-title {
  font-size: 18px;
  line-height: 20px;
}

.filter .rubik-title {
  font-size: 18px;
  line-height: 20px;
}

.products-categories-list .title{
  text-transform: none;
  line-height: 24px;
}

.pop-up-form {
  font-family: "rubik-700", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
 }

 .sort-options {
  font-size: 18px;
 }

 .features-name {
  font-weight: 400;
}

.features-value {
  font-size: 36px;
}

 /*BACKGROUND-COLORS*/

 .footer {
  background-color: var(--basic-dark);
 }

.page-header {
  background-color: var(--basic-yellow-light);
}

.services-wrapper, .subscribe {
  background-color: var(--basic-gray-light);
}

.subscribe {
  background-color: var(--basic-gray-light);
}
.product-icon {
  background-color: var(--basic-yellow-light);
}

.main-catalog {
  background-color: var(--basic-gray-light);
}

.cards-list-wrapper {
  background-color: var(--basic-white);
}

.cart-content {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.cart-content-table {
  background-color: #1A1A1A;
}

.cart-content .button{
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-stretch: 120%;
}

/*HEADER*/

.header-logo {
  display: block;
  width: 145px;
  height: 36px;
}

/*MAIN*/

/*FOOTER*/

 .footer {
  color: var(--basic-white);
 }

/*СОСТОЯНИЯ*/

.header-logo:hover {
  opacity: 60%;
}

.header-logo:active {
  opacity: 30%;
}

*:focus {
  outline: solid 2px var(--basic-focus);
}
